<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
<link rel="Stylesheet" type="text/css" href="../css/style.css" />
<title>template</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div id="contents">
<h1 id="toc1">[http://www.vim.org/scripts/script.php?script_id=ID VimScriptName]</h1>

<p>
作者：<a href="http://www.vim.org/account/profile.php?user_id=ID">AUTHOR</a>
</p>

<p>
脚本类型：公用(utility)
</p>

<h2 id="toc2">描述</h2>


<h2 id="toc3">安装细节</h2>
    </div>
    <div id="footer">
        Copyleft &copy; 2009-2010 <a href="http://code.google.com/p/vim-script-cn/">Vim Script 文档中文团队</a>.
    </div>
</body>
</html>
